.main-background {
    background-color: cadetblue;
    background-image: url(../../assets/imgs/Untitled-1.jpg);
    background-size: cover; 

  }

.main-player {
  margin: 10%;
  background-color: rgba(240, 248, 255, 0.4);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
  border-radius: 25px;
  padding-bottom: 10%;
}

.radio-img{
  border-radius: 25px 25px 0 0;
}
.radio_player{
    
    
    position:fixed;
    
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 4px );
  
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 25px;
    
    bottom: 0px;
    left: 0px;
    width:94%;
    height: 60px;
  
    margin-bottom: 5%;
    margin-left: 3%;
  
    z-index: 996;
  }
  
.player-buttons{
  display: flex;
    align-content: center;
    justify-content: center;  
    margin-top: 8%;  
  }
  
  .radio_player_play_button{
    font-size: 60px;    
    color: blue;
  
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    
  }
  
  .radio_player_pause_button{
    font-size: 60px;
    color: maroon;
  
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .hero_text{
    justify-content: center;
    text-align: center;
  
    h1 {
        margin: 0;
        font-weight: 800;
    }
    h4{
        margin: 0;
    }
  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    margin-left: 3%;
    margin-top: 5%;
  
  }
  