

<ion-content >

  <img   src="{{app_cover_data.guid}}"/>
  <!-- [src]="app_cover_data.guid" -->

  <div class="hero_text">
      <h1>RADIO</h1>
      <h1>SUARA ELSHADDAY</h1>
      <H4>90.4 FM - MASAMBA</H4>
    
    </div>  

    <a href="https://www.facebook.com/ypriministry/">
      <button ion-button small >facebook</button>
      </a>

  <button ion-button icon-only (click)="playStreaming()"
    *ngIf="showButton">
        <ion-icon name="play"></ion-icon>
    </button>

    <button ion-button icon-only (click)="pauseStreaming()"
    *ngIf="!showButton">
    <ion-icon name="pause"></ion-icon>
    </button>

    <audio #audioElement [src]="icecast_url" autoplay>
     
    </audio>


</ion-content>
